body{
    box-sizing: border-box;
    padding: 3rem 2rem;
    background: #f1f1f1;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-mukta{
    font-family: 'Mukta', sans-serif;
}
.font-quicksand{
    font-family: 'Quicksand', sans-serif;
}
.bg-red{
    background: red;
}
/* preloader */
.preloader-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f1f1f1;
    z-index: 9999;
    
}
.list-items{
    list-style: none !important;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-100%,-100%);
    padding: 0;
    margin:0;
}
.preloader-item{
    height: 15px;
    width: 15px;
    background: red;
    transition: .3s ease-in-out;
}
.item-1{
    animation: upAndDown 2.5s infinite;
    background: #f9020a;
}
.item-2{
    
    animation: upAndDown 2.5s infinite;
    animation-delay: .1s;
    background: #ff282f;
}
.item-3{
   
    animation: upAndDown 2.5s infinite;
    animation-delay: .2s;
    background: #ff656a;
}
.item-4{
   
    animation: upAndDown 2.5s infinite;
    animation-delay: .3s;
    background: #ff8387;
}

@keyframes upAndDown{
    
    10%{
        transform: translateY(-500%);
    }
    20%{
        transform: translateY(250%);
    }
    23%{
        transform: translateY(255%);
    }
    26%{
        transform: translateY(260%);
    }
    29%{
        transform: translateY(265%);
    }
    99%{
        transform: translateY(0%);
    }
   
}
/* header */
.jum-header{
    border-radius: 15px;
    height: 100vh;
    padding: 0;
    background-image: url('https://images.pexels.com/photos/983200/pexels-photo-983200.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-size: cover;
    overflow: hidden;
}
.jum-header .container{
    
}
.navbar{
    transition: .3s ease-in-out !important;
    top:0;
    left: 0;
    width: 100%;

}
.bg-nb-black{
    background: rgb(0, 0, 0) !important;
}

@media screen and (max-width: 990px){
    body{
        
    }
    .nav{
        background: rgba(0, 0, 0);
    }
    .navbar{
        border-bottom: 3px solid white;
    }
}