body{
    box-sizing: border-box;
    /* padding: 3rem 2rem; */
    background: #fffcfc;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
*::selection{
    background: #f9020a;
    color: white;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-mukta{
    font-family: 'Mukta', sans-serif;
}
.font-quicksand{
    font-family: 'Quicksand', sans-serif;
}
.bg-red{
    background: red;
}
/* preloader */
.preloader-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #f1f1f1;
    z-index: 9999;
    
}
.list-items{
    list-style: none !important;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-100%,-100%);
    padding: 0;
    margin:0;
}
.preloader-item{
    height: 15px;
    width: 15px;
    background: red;
    transition: .3s ease-in-out;
}
.item-1{
    animation: upAndDown 2.5s infinite;
    background: #f9020a;
}
.item-2{
    
    animation: upAndDown 2.5s infinite;
    animation-delay: .1s;
    background: #ff282f;
}
.item-3{
   
    animation: upAndDown 2.5s infinite;
    animation-delay: .2s;
    background: #ff656a;
}
.item-4{
   
    animation: upAndDown 2.5s infinite;
    animation-delay: .3s;
    background: #ff8387;
}

@keyframes upAndDown{
    
    10%{
        transform: translateY(-500%);
    }
    20%{
        transform: translateY(250%);
    }
    23%{
        transform: translateY(255%);
    }
    26%{
        transform: translateY(260%);
    }
    29%{
        transform: translateY(265%);
    }
    99%{
        transform: translateY(0%);
    }
   
}
/* header */
.wrapper{
    padding: 5rem;
}
.jum-header{
    border-radius: 15px;
    height: 100vh;
    padding: 0;
    background: #870000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #190A05, #870000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #190A05, #870000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    background-size: cover;
    overflow: hidden;
}
.jum-header .container{
    
}
.background{
    background: rgba(0, 0, 0, 0.986);
    overflow: hidden;
    padding: 1rem .5rem;
    -webkit-box-shadow: 12px 13px 0px 1px white;
-moz-box-shadow: 12px 13px 0px 1px white;
box-shadow: 12px 13px 0px 1px white;
}
.navbar-item-link:hover{
    color: white !important;
    transition: .2s all;
}

.navbar{
    top:0;
    left: 0;
    width: 100%;
    
}
.nav-link{
    color: #FF345E !important;
    font-size:1.2rem;
    font-weight:bolder;
    letter-spacing:1px;
    background: transparent !important;
    font-family: 'Staatliches', sans-serif;
}
.nav-list-header{
    background: #03030300 !important;
    list-style: none;
}
.nav-item{
    background: transparent !important;
}
.bg-nb-black{
    background: #000000 !important;
}
.logo{
    width: 250px;
}
.title-header{
    font-size: 6rem;
    letter-spacing: 2px;
    font-family: 'Staatliches', cursive;
}
.subtitle-header{
    font-size: 2rem;
}

@media screen and (max-width: 990px){
    body{
        
    }
    .wrapper{
        padding: 3rem;
    }
    .title-header{
        font-size: 2rem;
    }
    .subtitle-header{
        font-size: 1.5rem;
    }

    .navbar{
        border-bottom: 3px solid white;
    }
    .nav-item{
        width: 100%;
       
    }
    .nav-list-header{
        background: #1f1f1f !important;
    }
}
@media screen and (max-width: 480px){
    body{
        
    }
  
    .wrapper{
        padding: 1rem;
    }
    .title-header{
        font-size: 1.5rem;
    }
    .subtitle-header{
        font-size: .8rem;
    }
    .logo{
        width: 150px;
    }

    .navbar{
        border-bottom: 3px solid white;
    }
}
/* header/ */

/* aboute me section */

.skill-icon{
    font-size: 6rem;

}
.social-icon{
    font-size: 3rem;
}
.linear-block{
    height:250px;
    /* background: rgb(93,8,8);
    background: linear-gradient(38deg, rgba(93,8,8,1) 0%, rgba(223,0,16,1) 100%);  */
    background-image: url('https://images.pexels.com/photos/681467/pexels-photo-681467.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    background-origin: initial;
    background-position: bottom;
    background-attachment: fixed;
}

.img-profile{
    width: 250px !important;
    height: 250px !important;
}
.about-me-item{
    font-size: 1.2rem;
    font-weight: thin;
    min-height: 150px;
    list-style: none;
    position: relative;
    
}
.about-me-item::after{
    content: '';
    position: absolute;
    top: 0px;
    left: -7px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #050505;
}
.about-me-item::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2px;
    height: 100%;
    border-radius: 18px;
    background-color: #000000;
}

/* proyects section */
.card{
    min-width: 350px;
    min-height: 350px;
    background-color: transparent !important;
}
.card-img-top{
    border-bottom-left-radius: calc(2.25rem - 1px);
    border-bottom-right-radius: calc(2.25rem - 1px);
    border-top-left-radius: calc(2.25rem - 1px);
    border-top-right-radius: calc(2.25rem - 1px);
    object-fit: cover;
    min-width: 350px;
    min-height: 350px;
}

@media screen and (max-width:1000px){
    
    .nav-proyects-item{
        width: 100px;
    }
}